---
import src from "../images/elva-800w.jpg";
import second from "../images/elva-480w-close-portrait.jpg";
import Image from "../components/Image.astro";
---

<!DOCTYPE html>
<html>
  <body>
    <h1>Hello World!</h1>
    <Image
      {src}
      alt="A father holiding his beloved daughter in his arms"
      artDirections={[
        {
          media: "(max-width: 480px)",
          src: second,
        },
      ]}
    />
  </body>
</html>
