---
import Image from "../components/Image.astro";
---

<html>
  <body>
    <h1>Hello World!</h1>
    <Image
      src="/src/images/elva-800w.jpg"
      alt="A father holiding his beloved daughter in his arms"
      artDirectives={[
        {
          media: "(max-width: 480px)",
          src: "/src/images/elva-480w-close-portrait.jpg",
        },
      ]}
    />
  </body>
</html>
