---
import src from "../images/elva-800w.jpg";
import Image from "../components/Image.astro";
---

<!DOCTYPE html>
<html>
  <body>
    <h1>Hello World!</h1>
    <Image {src} preload="webp" placeholder="dominantColor" />
  </body>
</html>
